  <!-- FOOTER -->
  <footer>
    <div class="footer-first-div container">
      <div class="row">
          <div class="col-md-5">
            <div class="col">
            <p class="footer-logo-text">
              <a href="/"><img class="footer-logo" src="images\logo.png" alt="logo"></a>
              Calories Calculator</p>
            </div>
            <div class="col">
              <div class="footer-buttons">
                <button type="button" class="footer-android-button"><i class="fa-brands footer-button-icon fa-google-play"></i> Google Play</button>
                <button type="button" class="footer-iphone-button"><i class="fa-brands footer-button-icon fa-apple"></i> App Store</button>
              </div>
            </div>
            <div class="col social-col">
              <p class="socials">Our socials</p>
                <i class="fa-brands footer-icon fa-xl fa-facebook"></i>
                <i class="fa-brands footer-icon fa-xl fa-twitter"></i>
                <i class="fa-brands footer-icon fa-xl fa-instagram"></i>
                <i class="fa-brands footer-icon fa-xl fa-whatsapp"></i>
            </div>
          </div>
          <div class="col-md col-6 features-col">
            <p class="footer-header">Features</p>
            <p class="footer-text">some footer text</p>
            <p class="footer-text">some footer text</p>
            <p class="footer-text">some footer text</p>
            <p class="footer-text">some footer text</p>
          </div>
          <div class="col-md col-6 about-col">
            <p class="footer-header">About</p>
            <p class="footer-text">some footer text</p>
            <p class="footer-text">some footer text</p>
            <p class="footer-text">some footer text</p>
            <p class="footer-text">some footer text</p>
          </div>
          <div class="col-md help-col">
            <p class="footer-header">Help</p>
            <p class="footer-text">some footer text</p>
            <p class="footer-text">some footer text</p>
            <p class="footer-text">some footer text</p>
            <p class="footer-text">some footer text</p>
          </div>
      </div>
    </div>

    <div class="footer-second-div container-fluid">
      <div class="row">
        <div class="col-md">
          <p class="footer-copy-text">Copyright © 2022 Calories Calculator. All rights reserved.</p>
        </div>
        <div class="col-md">
        <p class="footer-contact-text"><a href="https://fareed0001.github.io/My-portfolio/">Contact Developer</a></p>

        </div>
      </div>
    </div>
  </footer>

</body>
</html>