<%- include("partials/header"); -%>

 <div class="about-container container-fluid">
    <div class="first-about-div container">
      <div class="row">
        <div class="col-md-9 col-12 about-div-text1">
          <p class="first-about-header">About Our Calories Calculator</p>
          <p class="first-about-text">Being fat doesn't pay anyone, it actually costs alot to be fat. And apart from that it comes with alot of health complications. Did you know that more people die from obesity than they do from starvation.</p>
          <p class="first-about-text">Meaning that in real life statistics, fat people die more than people die from hunger in the world, so why be fat. So the calorie site is actually a site to help fat people lose weight and eat more healthy,
            because why not.</p>
        </div>
        <div class="col-md-3 col-12">
          <img class="first-about-image" src="images\iphonex@1x.png" alt="phone">
        </div>
      </div>
    </div>

    <!--SECOND-DIV-->
    <div class="second-div container">
      <div class="row">
      <div class="col-md-3 col-12">
        <img class="second-about-image" src="images\diet-2.jpg" alt="diet">
      </div>
        <div class="col-md-9 col-12 about-div-text2">
          <p class="second-about-header">The Best Weight Loss Site</p>
          <p class="second-about-text">Being fat doest pay anyone, it actually costs alot to be fat. And apart from that it comes with alot of health complications. Did you know that more people die from obesity than they do from starvation.</p>
          <p class="second-about-text">Meaning that in real life statistics, fat people die more than people die from hunger in the world, so why be fat. So the calorie site is actually a site to help fat people lose weight and eat more healthy,
            because why not.</p>
        </div>
      </div>
    </div>
 </div>

<%- include("partials/footer"); -%>