<%- include("partials/header"); -%>


<h1 style="margin: 20% auto;">WELCOME TO THE DASHBOARD</h1>
<a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>



<%- include("partials/footer"); -%>
