/* PHONE VIEW */
/* FIRST DIV */
.first-about-header, .second-about-header {
  color: #810CA8;
}

.about-container {
  margin-top: 30%;
}

.first-about-image {
  width: 100%;
  height: 100%;
}

.first-about-header, .second-about-header {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}

.first-about-text, .second-about-text {
  font-size: 1.2rem;
  text-align: justify;
}

/* SECOND DIV */
.second-about-image {
  display: none;
}

/* PC MEDIA QUERY */
@media (min-width: 992px) {
  /* FIRST DIV */
  .about-container {
    margin: 12% 0 5% 0;
  }

  .col-12.about-div-text1 {
    padding: 5% 5% 0 0;
    text-align: justify;
  }

  .first-about-header, .second-about-header {
    font-size: 2rem;
    font-weight: 600;
    line-height: 4rem;
    text-align: left;
  }

  .first-about-text, .second-about-text {
    font-size: 1.2rem;
  }

  .first-about-image {
    width: 80%;
  }

  /* SECOND DIV */
  .second-about-image {
    display: block;
    width: 100%;
    height: 100%;
  }

  .col-12.about-div-text2 {
    padding: 5% 0 0 5%;
    text-align: justify;
  }
}
